<footer class="border-top" style="margin-top: auto;">
    <div class="d-flex flex-column flex-sm-row justify-content-center py-4 my-4 border-top">
        <p class="text-center text-body-secondary mb-0">© 2024 Company, Inc</p>
        <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-body-emphasis" href="https://www.instagram.com/k1rill.lebedev/"><img src="{{ url_for('static', filename='instagram.svg') }}" width='24' height='24' alt="Instagram"></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="https://twitter.com/lebedevunn"><img src="{{ url_for('static', filename='twitter.svg') }}" width='24' height='24' alt="Twitter"></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="https://www.facebook.com/profile.php?id=100007592387053"><img src="{{ url_for('static', filename='facebook.svg') }}" width='24' height='24' alt="Facebook"></a></li>
        </ul>
    </div>
</footer>

